@import '../../vars/base';

#about {
    // ========================================================================
    // Landing Page Cover Image
    // ========================================================================
    .cover-image-wrapper {
        position: relative;

        img {
            display: block;
            width: 100%;
            height: 800px;
            object-fit: cover;
        }
    }

    // ========================================================================
    // Headers and Wrappers
    // ========================================================================
    h2, h3 {
        color: var(--color-text-on-primary);
    }
    .education-wrapper h2,
    .technical-skills-wrapper h2,
    .pastimes-wrapper h2 {
        text-align: center;
    }

    // ========================================================================
    // Description and Profile Picture
    // ========================================================================
    .description-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 48px 0px;
    }
    .description-profile {
        flex-basis: 25%;
        display: flex;
        justify-content: center;
        padding: 24px;
        margin: 0px 24px;

        > div {
            min-width: 320px;
            min-height: 320px;
            border-radius: 50%;
        }

        img {
            display: block;
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .description-blurb {
        @extend %paper;
        flex-basis: 40%;
        padding: 24px;
        margin: 0px 24px;

        > div {
            margin: 24px 0px;
        }
    }
    .description-year {
        color: $color-indigo !important;
        font-weight: bold;
        font-size: $rem-medium;
    }
    .description-text {
    }

    // ========================================================================
    // Education
    // ========================================================================
    .education-wrapper {
        width: 80%;
        margin: 48px auto;

        .card-wrapper {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 24px 0px;
        }
        .card {
            @extend %paper;
            background-color: var(--color-primary-light);
            min-width: 288px;
            flex-basis: 25%;
            margin: 0px 12px 12px 12px;
            box-shadow: $component-shadow;

            > div:nth-of-type(1) {
                position: relative;

                img {
                    display: block;
                    width: 100%;
                    height: 244px;
                    object-fit: cover;
                }
            }
            > div:nth-of-type(2) {
                color: var(--color-text-on-primary);
                font-weight: bold;
                padding: 8px;
            }
            > div:nth-of-type(3),
            > div:nth-of-type(4) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 4px 8px;

                > div:nth-of-type(1) {
                    flex: 2;
                }
                > div :nth-of-type(2) {
                    flex: 1;
                }
            }
        }
    }

    // ========================================================================
    // Technical Skills
    // ========================================================================
    .technical-skills-wrapper {
        width: 80%;
        margin: 48px auto;
        .skills {
            margin: 24px 0px;
        }
        .skills > div {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 24px;
        }
        .category {
            color: var(--color-text-on-primary);
            font-weight: bold;
            font-size: $rem-large;
            flex-basis: 20%;
            padding: 8px;
        }
        .skill-chips {
            flex-basis: 50%;
            display: flex;
            flex-wrap: wrap;

            > div {
                margin: 8px;
            }
        }
    }

    // ========================================================================
    // Pastimes
    // ========================================================================
    .pastimes-wrapper {
        width: 80%;
        margin: 48px auto;
    }
    .pastime-block {
        display: flex;
        justify-content: center;
        margin: 24px 0px;
    }

    .pastime-blurb {
        @extend %paper;
        background-color: var(--color-primary-light);
        flex-basis: 30%;
        padding: 24px;
        margin: 0px 24px;
        box-shadow: $component-shadow;

        p {
            margin: 8px 0px;
        }
    }
    .pastime-block:nth-of-type(2) {
        .pastime-blurb > p:nth-of-type(2n + 1) {
            color: $color-purple;
            font-weight: bold;
        }
    }
    .pastime-image {
        flex-basis: 40%;
        min-width: 288px;
        margin: 0px 24px;

        img {
            display: block;
            width: 100%;
            object-fit: cover;
        }
    }
}