@import './vars/base';

/* ============================================================================
 * Variables
 * ========================================================================= */

/* ============================================================================
 * Rules
 * ========================================================================= */
#app {
    .app-menu {
        position: sticky;
        top: 0px;
        z-index: 10;
    }

    .app-components-wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .app-body {
        background-color: var(--color-primary-background);
        flex: 1 0 auto;
    }

    .app-footer {

    }
}
